{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> {% block titulo %}{% endblock titulo %} </title>
        <link rel="stylesheet" href="{% static 'foundation.min.css' %}">
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        {% block cuerpo %}{% endblock cuerpo %}

        <script src={% static "/js/vendor/jquery.js" %}></script>
        <script src={% static "/js/vendor/what-input.js" %}></script>
        <script src={% static "/js/vendor/foundation.min.js" %}></script>
        <script>
          $(document).foundation();
        </script>

        

    </body>
</html>