{% extends 'base.html' %}
{% load static %}
{% block titulo %}
    Batiquiniela
{% endblock titulo %}

{% block cuerpo %}
    {% include 'includes/header.html' %}

    <div class='grid-container center'>
        <div class='grid-x'>
            <h1 class='cell' align='center'>
                Nuevo equipo
            </h1>
        </div>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{form.as_p}}
            <button class="submit success button">Agregar</button>
        </form>
    </div>

{% endblock cuerpo %}

